body
{
    font-family: 'Allison', cursive;
    background: cyan;
    font-size: 40px;
}

.header_div 
{
    background: rebeccapurple;
    color: white;
}

.header_div p
{
    font-family: 'Ma Shan Zheng', cursive;
    color: chartreuse;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: bold;
}

.main_div button
{
    font-family: 'Ma Shan Zheng', cursive;
    margin-top: 30px;
    width: 230px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer
{
position: fixed;
color: black;
bottom: 0;
width: 100%;
font-size: 40px;
background-color:magenta;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px rgb(151, 149, 149);
}